<!DOCTYPE html>
<html lang="ES">

<head th:replace="Layout/Plantilla::head"></head>
<header th:replace="Layout/Plantilla::Barra"></header>

<body>
    <section>
        <br>
        <br>
        <h1 class="text-center m-5">[[#{fechasespeciales.agregar}]]</h1>
        <div class="container">
            <form th:action="@{/fechas/add}" method="post" th:object="${item}" enctype="multipart/form-data">

                <div class="form-control">
                    <label for="titulo"> [[#{formulario.titulo}]] </label>
                    <input required type="text" class="form-control" name="titulo">
                    <br>
                </div>
                <div class="form-control">
                    <label for="precio"> [[#{formulario.precio}]] </label>
                    <input required type="number" class="form-control" name="precio">
                    <br>
                </div>

                <div class="form-control">
                    <label for="descripcion"> [[#{formulario.descripcion}]] </label>
                    <input required type="text" class="form-control" name="descripcion">
                    <br>
                </div>
                <div class="form-control">
                    <label for="file"> [[#{formulario.imagen}]] </label>
                    <input required type="file" class="form-control" name="file">
                    <br>
                </div>
                <button type="submit" class="btn btn-primary btn-success">[[#{boton.agregar}]]</button>
            </form>
        </div>
    </section>
    </form>

</body>
<footer th:replace="Layout/Plantilla::footer"></footer>

</html>